form{
    padding: 0% 35%;
}
h1{
    text-align: center;
}
.checked {
    color: orange;
  }
.col-md-6 input{
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.182);
}
button{
    width: 100%;
}
.col-12 input{
background-color: rgba(0, 0, 0, 0.182);
}
h1{
    margin-top: 100px;
    color: rgba(255, 166, 0, 0.778);
}
.row{
    margin-top: 100px;
}
.col-12 p{
    height: 15px;
}